{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div>
        
        <h6>MEALS LIST</h6>

        {% for meal in object_list %}
        <a href="/{{meal.id}}">
            <div class="card">
                <h6 style="color: black;" id="1">{{meal.category}}</h6>
                <h1 style="color: black;" id="2">{{meal.name}}</h1>
                <p style="color: black;" id="3">{{meal.description}}<br> before trade‑in</p>
            </div>
        </a>

        {% endfor %}



    </div>

{% endblock body %}