{% extends 'base.html' %}
{% load static %}









{% block body %}


  <form method="post">

    {% csrf_token %}
    {{form}}
    <input type="submit" value="SUBMIT">




  </form>


<!-- <p>Please select your favorite Web language:</p>
<input type="radio" id="1" name="rating" value="1">
<input type="radio" id="2" name="rating" value="2">
<input type="radio" id="3" name="rating" value="3">
<input type="radio" id="4" name="rating" value="4">
<input type="radio" id="5" name="rating" value="5">
 -->

{% endblock body %}